<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Um pedido de troca de senha foi solicitado.</p>
  <p>Segue o código para alteração de senha</p>
  <p>
    <span>{{ hash }}</span>
  </p>
  <p>Se não foi você, descarte esse email!</p>
  <p>
    Obrigado!<br />
    <strong>Equipe MenuOnline</strong>
  </p>
</div>
